<EditForm Model="@Color" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <fieldset disabled="@Disabled">
        <div class="form-group">
            <label>Name:</label>
            <div>
                <InputText @bind-Value="@Color.Name" class="form-control" />
                <ValidationMessage For="@(() => Color.Name)" />
            </div>
        </div>
    </fieldset>

    @if (!Disabled)
    {
        <button type="submit" class="btn btn-info btn-block">
            @ButtonText
        </button>
    }

    <BackToList Target="colors" />
</EditForm>

@code {
    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public Color Color { get; set; }

    [Parameter]
    public string ButtonText { get; set; } = "Save";

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }
}
